@font-face {
    font-family: RubikD;
    src: url(Fuentes/RubikDirt-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Roboto;
    src: url(Fuentes/Roboto-Medium.ttf);
}
* {
    transition: all .5s;
}
body {
    background-color: #222;
}
/*--------------------------------------------NAV-------------------------------------*/
.nav {
    display: flex;
    height: 75px;
    background-color: #298;
    top: 0px;
    position: sticky;
    z-index: 100;
    justify-content: space-around;
    align-content: center;
}
.nav a {
    font-family: Roboto;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
}
.nav :nth-child(3) {
    color: #fff;
    background-color: #222;
}
.nav a:hover {
    background-color: #187;
}
/*--------------------------------------------NAV-------------------------------------*/
/*-------------------------------------------ENCABEZADO------------------------------*/
.full_stack {
    display: grid;
    grid-template-columns: repeat(min-content);
    grid-template-rows: repeat(3,175px);
    margin: 20px;
}

.full_stack P {
    font-size: 150px;
    font-family: RubikD;
    /*border: 1px solid #fff;*/
    justify-self: center;
}
.p1 {
    color: #fff;
}
.p2 {
    color: #298;
}
@media screen and (max-width: 1365px) {
    .full_stack p {
        font-size: 105px;
    }
}
/*-------------------------------------------ENCABEZADO------------------------------*/
.frontend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px;
    border-bottom: 3px solid #298;
    margin: 20px;
}
.frontend :first-child {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    color: #fff;
}
.frontend p {
    font-size: 50px;
    font-family: Roboto;
    color: #298;
}
.frontend .leng {
    width: 310px;
    height: 220px;
    border-radius: 20px;
    border: solid 1px #fff;
    justify-self: center;
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 150px 70px;
}
.frontend .leng i {
    justify-self: center;
    font-size: 150px;
    color: #298; 
}
.frontend .leng i:hover {
    color: #fff;
}
.frontend .leng .p {
    justify-self: center;
}
/*-----------------------------------Backend--------------*/
.back-end {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
    border-bottom: 3px solid #298;
    margin: 20px;
}

.back-end div {
    justify-self: center;
    align-self: center;
}
.back-end p {
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
}
.back-end .leng {
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 150px 70px;
    width: 310px;
    height: 230px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.back-end .leng i {
    font-size: 150px;
    color: #298;
    justify-self: center;
}
.back-end .leng i:hover {
    color: #fff;
}
.back-end .leng .p {
    align-self: center;
}
/*-----------------------------------GIt--------------*/
.git {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
    border-bottom: 3px solid #298;
    margin: 20px;
}

.git div {
    justify-self: center;
    align-self: center;
}
.git p {
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
}
.git .leng {
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 150px 70px;
    width: 310px;
    height: 230px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.git .leng i {
    font-size: 150px;
    color: #298;
    justify-self: center;
}
.git .leng i:hover {
    color: #fff;
}
.git .leng .p {
    align-self: center;
}
/*-------------------------------------------OTROS-------------------*/
.otros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 300px;
    border-bottom: 3px solid #298;
    margin: 20px;
}
.otros :first-child {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    color: #fff;
}
.otros p {
    font-size: 50px;
    font-family: Roboto;
    color: #298;
}
.otros .leng {
    width: 310px;
    height: 220px;
    border-radius: 20px;
    border: solid 1px #fff;
    justify-self: center;
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 150px 70px;
}
.otros .leng i {
    justify-self: center;
    font-size: 150px;
    color: #298; 
}
.otros .leng i:hover {
    color: #fff;
}
.otros .leng .p {
    justify-self: center;
}
/*----------------------------------------------cv---------------*/
.cv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(7, 200px);
    grid-gap: 20px;
    margin: 20px;
}
.cv .titulo {
    font-size: 50px;
    font-family: Roboto;
    color: #fff;
    align-self: center;
    justify-self: center;
}
.cv .curso {
    display: grid;
    width: 600px;
    justify-self: center;
    border: solid 1px #fff;
    border-radius: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    color: #298;
    align-content: center;
    justify-content: center;
}
.cv .curso:hover {
    width: 800px;
    border: solid 3px #fff;
    font-size: 30px;
    color: #fff;
}
/*----------------------------------------footer---------------------*/
footer {
    display: grid;
    height: 200px;
    background-color: #298;
}
.redes {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    justify-content: center;
}
.redes a {
    justify-self: center;
    color: #222;
    align-self: center;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
}
.redes a:hover {
    color: #fff;
    background-color: #187;
}

.contacto {
    margin-bottom: 25px;
    text-align: center;
    display: block;
}
.contacto p{
    font-family: Roboto;
}

.flex_container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 40px;
    border-radius: 20px;
    max-width: 1000px;
    margin: auto;
    margin: 30px;
    border: 3px solid #fff;
    font-family: Roboto;
}
/*
.form {
    min-width: 400px;
    flex: 2;
    text-align: center;
    padding: 30px;
}
.form__input {
    width: 100%;
    height: 40px;
    background-color: #484848;
    margin: 7px;
    border: none;
    border-bottom: solid 2px #298;
    color: #fff;
}
.enviar {
    width: 100%;
    height: 40px;
    background-color: #298;
    margin: 7px;
    border: none;
    color: #fff;
    border-radius: 5px;
    
}
.enviar:hover {
    background-color: #176;
}
.enviar:focus {
    background-color: #298;
}
.form__input:focus {
    outline: none;
    background: linear-gradient(to right, #333, #444);
    border-bottom: 3px solid #fff;
}
.form textarea {
    min-height: 150px;
    resize: none;
}

.form_icon {
    width: 200px;
    flex: 1;
    text-align: center;
    display: flex;
    margin: 20px;
}
.form_icon i {
    font-size: 200px;
    margin: auto;
    color: #298;
    transition: color 1s;
}
.form_icon i:hover {
    color: #176;
}
*/